@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background: linear-gradient(135deg, #f0f2f5, #ffffff);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    color: #000000;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    color: #000000;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

h3 svg {
    width: 24px;
    height: 24px;
}

button {
    font-family: 'Fredoka One', cursive;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    width: 260px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:nth-of-type(1) {
    background-color: #f44336;
}

button:nth-of-type(2) {
    background-color: #4caf50;
}

button:nth-of-type(3) {
    background-color: #2196f3;
}

button:nth-of-type(4) {
    background-color: #ff9800;
}

button:nth-of-type(5) {
    background-color: #35b09f;
}

button:hover {
    filter: brightness(0.9);
}

.results-container {
    font-family: 'Fredoka One', cursive;
    background-color: #586aaa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item {
    background-color: #586aaa;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.isFinished {
    text-align: center;
    margin-top: 20px;
    background: #ffebee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div.isFinished h2 {
    color: #f44336;
}

div.isFinished button {
    background-color: #f44336;
}

div.isFinished button:hover {
    background-color: #e53935;
}